[user]
  name = Ben
  email = git@othyn.com
  signingkey = FDBB0DE83ACF0D65
[core]
  editor = code
  excludesfile = ~/.gitignore
[commit]
  gpgsign = true
[gpg]
  program = /usr/local/bin/gpg
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[web]
  browser = firefox
[credential]
  helper = osxkeychain
[push]
  default = simple
[merge]
  tool = sublime-merge
[difftool]
  prompt = false
